@{
    ViewData["Title"] = "Access Denied";
}
@{
    await Html.RenderPartialAsync("_Navbar");
}
<div class="container-fluid">
    <div class="text-center">
        <p class="lead text-gray-800 mb-5">You have no access!!!</p>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Post" asp-area="Admin">&larr; Back to Posts</a>
    </div>
</div>
