@model RegisterViewModel
@{
    ViewData["Title"] = "Register User";
}
@{
    await Html.RenderPartialAsync("_Navbar");
}
<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Register User</h4>
        </div>
        <div class="card-body">
            <form asp-action="Register" asp-controller="User" asp-area="Admin" method="post">
                <div class="mb-2">
                    <label>First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Email</label>
                    <input asp-for="Email" type="text" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Username</label>
                    <input asp-for="Username" type="text" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <input asp-for="isAdmin" type="checkbox" class="custom-checkbox" />
                    <label>Is Admin?</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_Footer");
}