@model BeReal.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
@{
    await Html.RenderPartialAsync("_Navbar");
}
<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User">Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Reset Password</h4>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin" method="post">
                <div class="mb-2">
                    <label>Username</label>
                    <input asp-for="Username" type="text" class="form-control" disabled />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>New Password</label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Reset Password</button>
            </form>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_Footer");
}