@model BeReal.ViewModels.ResetPasswordViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Change Password";
    var authUser = userManager.Users.FirstOrDefault(user => user.UserName == User.Identity!.Name);
}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block" style="background-image: url('/images/img_04-06-2024-16-21-59.jpg')"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-start">
                            <a asp-action="Profile" asp-controller="Home" asp-area="" asp-route-id="@authUser!.Id"><i class="fa-solid fa-arrow-left"></i></a>
                        </div>
                        <div class="text-center">
                            <h1 class="h4 mb-4">Change your password</h1>
                        </div>
                        <input type="hidden" asp-for="Id"/>
                        <form class="user" method="post" asp-action="ResetUserPassword" asp-controller="User" asp-area="Admin">
                            <div class="form-group mb-2">
                                <input asp-for="Username" type="text" class="form-control form-control-user" disabled>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <input asp-for="NewPassword" type="password" class="form-control form-control-user" placeholder="Password">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group row-cols-1">
                                <input type="submit" class="btn btn-primary btn-block" value="Confirm" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

