@model BeReal.ViewModels.CreatePostViewModel
@{
    ViewData["Title"] = "Create Post";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="Post">Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Create Post</h4>
        </div>
        <div class="card-body">
            <form asp-action="CreatePost" asp-controller="Post" asp-area="Admin" method="post">
                <div class="row mb-2">
                    <div class="col-8">
                        <div class="mb-2">
                            <label>Title</label>
                            <input asp-for="Title" type="text" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Short Description</label>
                            <input asp-for="ShortDescription" type="text" class="form-control" />
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Description</label>
                            <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2">
                            <img src="~/images/default_image.png" class="img-fluid"/>
                        </div>
                        <div class="mb-2">
                            <label>Image</label>
                            <input asp-for="Image" type="file" class="custom-file" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Create</button>
            </form>
        </div>
    </div>
</div>