@{
    ViewData["Title"] = "Posts";
    await Html.RenderPartialAsync("_Navbar");
}
<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Create" asp-controller="Post"><i class="fa-solid fa-plus"></i></a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">
                List of Posts
            </h4>
        </div>
        @{
            await Html.RenderPartialAsync("_Posts");
        }
    </div>
</div>
@{
    await Html.RenderPartialAsync("_Footer");
}