@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager;
@{
    var authUser = new ApplicationUser();
    authUser = userManager.Users.FirstOrDefault(x => x.UserName == User.Identity!.Name);
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - BeReal.</title>

    <link rel="icon" type="image/x-icon" href="~/blog/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/blog/css/styles.css" rel="stylesheet" />

    <!-- Custom fonts for this template-->
    <link href="~/adminPanel/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/adminPanel/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">BeReal.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="Index" asp-controller="Post" asp-area="Admin">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Post</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="Index" asp-controller="User" asp-area="Admin">
                                <i class="fas fa-fw fa-user"></i>
                                <span>User</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                                aria-expanded="true" aria-controls="collapseUtilities">
                                <i class="fas fa-fw fa-file"></i>
                                <span>Pages</span>
                            </a>
                            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                                    data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" asp-action="About" asp-controller="Page" asp-area="Admin">About</a>
                                    <a class="collapse-item" asp-action="Contact" asp-controller="Page" asp-area="Admin">Contact</a>
                                    <a class="collapse-item" asp-action="Privacy" asp-controller="Page" asp-area="Admin">Privacy Policy</a>
                                </div>
                            </div>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="Index" asp-controller="Setting" asp-area="Admin">
                            <i class="fas fa-fw fa-gear"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        @authUser?.FirstName @authUser?.LastName
                    </span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                    <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="">
                        <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                        Main
                    </a>
                    <div class="dropdown-divider"></div>
                    <form asp-action="Logout" asp-controller="User" asp-area="Admin" method="post">
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </button>
                    </form>
                </div>
            </li>
                }
                            
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-controller="Post" asp-action="Index" asp-area="Admin">@User.Identity.Name</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-controller="User" asp-action="Login" asp-area="Admin">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Topbar -->
    <header class="masthead" style="background-image: url('~/wwwroot/images/default_image.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                </div>
            </div>
        </div>
    </header>
        @RenderBody()
    <!-- Footer -->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="small text-center text-muted fst-italic">Copyright &copy; BeReal. 2024</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="~/adminPanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/adminPanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/adminPanel/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/adminPanel/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/adminPanel/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/adminPanel/js/demo/chart-area-demo.js"></script>
    <script src="~/adminPanel/js/demo/chart-pie-demo.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/pvxwm4whz10hwv8tvgb1ix5lr1ybq2scqtxoq1qdbc1cwmsp/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        let table1 = new DataTable('#userTable');
        let table2 = new DataTable('#postTable');
        tinymce.init({
            selector: '#editor',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/blog/js/scripts.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<body>
    <!-- Navigation-->
    
    <!-- Main Content-->
    @RenderBody()
</body>