@inject IUsersOperations userOperations;
@{
    var authUser = await userOperations.GetLoggedUser(User);
}
<nav class="navbar navbar-expand-lg navbar-light position-sticky" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-black" asp-controller="Post" asp-action="Index" asp-area="Admin">BeReal.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                @if (User.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 text-black" asp-action="Index" asp-controller="Post" asp-area="Admin">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Post</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4 text-black" asp-action="Index" asp-controller="User" asp-area="Admin">
                                <i class="fas fa-fw fa-user"></i>
                                <span>User</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4 text-black" href="#" id="pagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-fw fa-file"></i>
                                <span>Pages</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="pagesDropdown">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Page" asp-area="Admin">
                                    <i class="fa fa-gear fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Home
                                </a>
                                <a class="dropdown-item" asp-action="About" asp-controller="Page" asp-area="Admin">
                                    <i class="fa fa-question-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                                    About
                                </a>
                                <a class="dropdown-item" asp-action="Contact" asp-controller="Page" asp-area="Admin">
                                    <i class="fa fa-phone fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Contact
                                </a>
                                <a class="dropdown-item" asp-action="Privacy" asp-controller="Page" asp-area="Admin">
                                    <i class="fa fa-user-secret fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Privacy Policy
                                </a>
                            </div>
                        </li>
                    }
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4 text-black" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>@authUser?.FirstName @authUser?.LastName</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="">
                                <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                                Main
                            </a>
                            <a class="dropdown-item" asp-action="Profile" asp-controller="Home" asp-area="" asp-route-id="@authUser?.Id">
                                <i class="fa-regular fa-user"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            </div>
            <div class="modal-footer">
                <form asp-action="Logout" asp-controller="User" asp-area="Admin" method="post">
                    <button type="submit" class="btn btn-primary">
                        Logout
                    </button>
                </form>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>