@{
    ViewData["Title"] = "Email Confirmed";
}
<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block" style="background-image: url('/images/img_04-06-2024-16-21-59.jpg')"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-start">
                                <a asp-action="Index" asp-controller="Home" asp-area=""><i class="fa-solid fa-arrow-left"></i></a>
                            </div>
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
                            </div>
                            <p>
                                Thank you for confirming your email.
                                You can now <a asp-action="Index" asp-controller="Login">log in</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>