@model BeReal.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block" style="background-image: url('/images/img_04-06-2024-16-21-59.jpg')"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-start">
                            <a asp-action="Index" asp-controller="Home" asp-area=""><i class="fa-solid fa-arrow-left"></i></a>
                        </div>
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" method="post" asp-action="Register" asp-controller="Login" asp-area="Admin">
                            <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-2 mb-sm-0">
                                    <input asp-for="FirstName" type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="LastName" type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <input asp-for="Email" type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                            </div>
                            <div class="form-group mb-2">
                                <input asp-for="Username" type="text" class="form-control form-control-user" id="exampleInputUsername"
                                        placeholder="Username">
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Password" type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password (symbols,numbers,letters)">
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <div class="form-group row-cols-1 mb-2">
                                <button type="submit" class="btn btn-primary btn-block">Register Account</button>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" asp-action="Login" asp-controller="Login" asp-area="Admin">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>