@model BlogPostViewModel
@{
    ViewData["Title"] = "Post";
    ViewData["Description"] = Model.Post!.ShortDescription;
    ViewData["Keywords"] = $"{Model.Post.Tags?.Replace(",", "")} {Model.Post.Category}";
    await Html.RenderPartialAsync("_Navbar");
    await Html.RenderPartialAsync("_PostHeader");
}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Post.Description)
            </div>
        </div>
    </div>
</article>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-8 col-md-10 mx-auto">
            @if (Model.Post.Document != null)
            {
                <form method="post" asp-action="Download" asp-controller="Home" asp-route-id="@Model.Post.Document.IDBR_Document">
                    <input type="submit" class="btn btn-primary" value="Download" />
                </form>
            }
            @{
                await Html.RenderPartialAsync("_Comments");
            }
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_Footer");
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}